<!DOCTYPE html>
<html>
<head>
	<title>RecipesUltd.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<style>
		body{
			background-image: url("https://image.freepik.com/free-photo/tasty-italian-greek-mediterranean-food-ingredients-top-view-on-green-old-rustic-table-above_1220-1678.jpg");
			background-size: cover;
		}

		.container{
			width: 45%;
      height: 60%;
      margin-top: 50px;
      background-color: #D4EBE1;
      font-size: 25px;
      border-radius: 10px;
		}

		h1 {
          text-align: center
        }

		h3 {
          text-align: center
        }

		.btn {
			margin-left: 110px;
		}
	</style>
</head>
<body>
  <div class="container">
    <h1>RECIPES UNLIMITED</h1>
		<h3>Your own collection to cook and be creative!</h3>  
		<a class="btn btn-primary" href="/recipes">Recipes</a>
		<a class="btn btn-primary" href="/recipes/new">New Recipe</a>        
  </div>
</body>
</html>

